.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/

# your local dev environment files
.env

# database schema migration folder
migrations/

# hyperledger folders generated during the BC creation process
hyperledger-fabric-application/Org1
hyperledger-fabric-application/Org2


