<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <title>Marketplace - TicketHive</title>
    <link rel="shortcut icon" type="image/icon" href="static/images/logo.png"/>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="static/css/owl-carousel.css">
    <link rel="stylesheet" href="static/css/tooplate-artxibition.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    <!-- ***** Header Area Start ***** -->
     <!-- Refined Header -->
     <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- Logo -->
                        <a href="/homepage" class="logo">Ticket<em>Hive</em></a>
                        <!-- Navigation -->
                        <ul class="nav">
                            <li><a href="/resale_market"><i class="fa fa-shopping-bag fa-lg"></i> Marketplace</a></li>
                            <li><a href="/ticket_inventory" class="active"><i class="fa fa-ticket-alt fa-lg"></i> My Tickets</a></li>
                            <li><a href="/ticket_transaction_history"><i class="fa fa-wallet fa-lg"></i> Purchase History</a></li>
                            <li><a href="/"><i class="fa fa-sign-out-alt fa-lg"></i> Sign Out</a></li>
                        </ul>       
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** About Us Page ***** -->
    <div class="page-heading-shows-events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>My Tickets</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="shows-events-tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="tabs">
                        <div class="col-lg-12">
                            <div class="heading-tabs">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <ul>
                                          <li><a href='#tabs-1'>My Tickets</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        <!-- Add Ticket Button -->
                                        <div class="main-dark-button">
                                            <a href="#" data-toggle="modal" data-target="#addTicketModal">Add Ticket</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <section class='tabs-content'>
                                <article id='tabs-1'>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="heading"><h2>My Tickets</h2></div>
                                        </div>
                                        
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <!-- ***** List ***** -->
                                                <div class="col-lg-12">
                                                    <div class="event-item">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <table class="table table-hover">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">Event Name</th>
                                                                            <th scope="col">Date</th>
                                                                            <th scope="col">Category</th>
                                                                            <th scope="col">Price</th>
                                                                            <th scope="col"></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% if tickets %}
                                                                            {% for ticket in tickets %}
                                                                                <tr>
                                                                                    <td>{{ ticket.event_name }}</td>
                                                                                    <td>{{ ticket.event_datetime }}</td>
                                                                                    <td>{{ ticket.category }}</td>
                                                                                    <td>{{ ticket.price }}</td>
                                                                                    <td>
                                                                                        {% if ticket.listing_status == 'Listed' %}
                                                                                            <span class="status-listed">Listed</span>
                                                                                        {% else %}
                                                                                            <span class="status-not-listed">Not Listed</span>
                                                                                        {% endif %}
                                                                                    </td>
                                                                                    <td>
                                                                                        <button class="btn btn-primary sell-ticket-btn" data-ticket-id="{{ ticket.id }}" data-ticket-price="{{ ticket.price }}" data-event-name="{{ ticket.event_name }}" data-event-datetime="{{ ticket.event_datetime }}">Sell Ticket</button>
                                                                                    </td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                        {%else%}
                                                                            <tr>
                                                                                <td colspan="5">No tickets found</td>
                                                                            </tr>
                                                                        {% endif %}

                                                                        
                                                                    </tbody>

                                                                    
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- *** Subscribe *** -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4>Subscribe Our Newsletter:</h4>
                </div>
                <div class="col-lg-8">
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                          <div class="col-lg-9">
                            <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-3">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-dark-button">Submit</button>
                            </fieldset>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- *** Footer *** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="address">
                        <h4>TicketHive</h4>
                        <span>1 Stadium Dr, <br>Singapore 397629<br>Singapore</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="#">Info</a></li>
                            <li><a href="#">Venues</a></li>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Videos</a></li>
                            <li><a href="#">Outreach</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="hours">
                        <h4>Open Hours</h4>
                        <ul>
                            <li>Mon to Fri: 10:00 AM to 8:00 PM</li>
                            <li>Sat - Sun: 11:00 AM to 4:00 PM</li>
                            <li>Holidays: Closed</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <p>Singapore</p>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <p class="copyright">Copyright 2024 TicketHive Company</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="logo"><span>Ticket<em>Hive</em></span></div>
                            </div>
                            <div class="col-lg-6">
                            </div>
                            <div class="col-lg-3">
                                <div class="social-links">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Sell Ticket Modal -->
    <div class="modal fade" id="sellTicketModal" tabindex="-1" role="dialog" aria-labelledby="sellTicketModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sellTicketModalLabel">Sell Ticket</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="sellTicketForm" method="POST" action="{{ url_for('ticketinventory') }}">
                        <input type="hidden" id="ticketId" name="ticket_id">
                        <input type="hidden" id="ticketPrice" name="ticket_price">
                        <div class="form-group">
                            <label for="eventName">Event Name</label>
                            <input type="text" class="form-control" id="eventName" name="event_name" readonly>
                        </div>
                        <div class="form-group">
                            <label for="eventDatetime">Event Date & Time</label>
                            <input type="datetime" class="form-control" id="eventDatetime" name="event_datetime" readonly>
                        </div>
                        <div class="form-group">
                            <label for="ticketPrice">Ticket Price</label>
                            <input type="text" class="form-control" id="ticketPrice" name="ticket_price" readonly>
                        </div>
                        <button type="submit" class="btn btn-primary">Sell Ticket</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Ticket Modal -->
    <div class="modal fade" id="addTicketModal" tabindex="-1" role="dialog" aria-labelledby="addTicketModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTicketModalLabel">Add Ticket</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addTicketForm">
                        <div class="form-group">
                            <label for="guid">Enter Ticket GUID:</label>
                            <input type="text" class="form-control" id="guid" name="guid" placeholder="Enter GUID" required>
                        </div>
                        <button type="button" class="btn btn-primary mt-2" onclick="searchTicket()">Search Ticket</button>
                    </form>
                    
                    <!-- Display result -->
                    <div id="ticketResult" class="mt-4" style="display: none;">
                        <p id="ticketInfo"></p>
                        <button class="btn btn-success" onclick="confirmAddTicket()">Confirm Add to Inventory</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- jQuery -->
    <script src="static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/js/scrollreveal.min.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/imgfix.min.js"></script> 
    <script src="static/js/mixitup.js"></script> 
    <script src="static/js/accordions.js"></script>
    <script src="static/js/owl-carousel.js"></script>
    
    <!-- Global Init -->
    <script src="static/js/custom.js"></script>

    <script>
        $(document).on('click', '.sell-ticket-btn', function() {
            // Get ticket details
            var ticketId = $(this).data('ticket-id');
            var ticketPrice = $(this).data('ticket-price');
            var eventName = $(this).data('event-name');
            var eventDatetime = $(this).data('event-datetime');
    
            // Set values in modal
            $('#ticketId').val(ticketId);
            $('#ticketPrice').val(ticketPrice);
            $('#eventName').val(eventName);
            $('#eventDatetime').val(eventDatetime);
    
            // Update form action dynamically
            $('#sellTicketModal').modal('show');
        });
        

        // Add Ticket Script
        function searchTicket() {
        const guid = document.getElementById('guid').value;

        fetch('/add_ticket', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ guid })
        })
        .then(response => response.json())
        .then(data => {
            const ticketResult = document.getElementById('ticketResult');
            const ticketInfo = document.getElementById('ticketInfo');

            if (data.status === 'found') {
                ticketInfo.textContent = `Ticket Found: ${data.ticket_info}`;
                ticketResult.style.display = 'block';
            } else {
                ticketInfo.textContent = 'Ticket not found';
                ticketResult.style.display = 'block';
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function confirmAddTicket() {
        // Logic to confirm addition of the ticket to inventory
        alert('Ticket successfully added to inventory');
        $('#addTicketModal').modal('hide');
    }

    </script>

</body>

</html>
